.player-button {
    width: 100vw;
    height: 90vh;
    background: #7d0001;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


.create {
    margin-top: 4vh;
    margin-left: 12vw;
    height: 7vh;
    width: 20vh;
    font-size: 1.4em;
    font-weight: 650;
    background: #F5BA0F;
    border: none;
    text-decoration-color: #0a0a0a;
    font-family: 'Mansalva', cursive;
}